<%= form_for order do |f| %>
  <% if order.errors.any? %>
    <%= render "shared/errors", resource: order %>
  <% end %>

  <div class="form-group">
    <%= f.label 'How many tickets?' %>
    <%= f.select :tickets, [], {}, { class: "form-control" } do %>
      <% 1...(movie.theater.capacity).times do |number| %>
        <%= content_tag :option, (number + 1), value: (number + 1) %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label 'Which showtime?' %>
    <%= f.select :showtime_id, options_from_collection_for_select(movie.theater.showtimes,
                                                               "id", "start_time"),
                                                               {}, { class: "form-control" } %>
  </div>

  <%= f.hidden_field :theater_id, value: movie.theater.id %>

  <div class="form-group pull-right">
    <%= f.submit "Order tickets", class: "btn btn-primary" %>
  </div>
<% end %>
