<div class="order-summary">
  <div class="row">
    <div class="col-xs-12">
      <p>
        <% if (@order.tickets).to_i > 1 %>
          <%= @order.tickets %> tickets for
        <% else %>
          <%= @order.tickets %> ticket for
        <% end %>
        <em><%= @movie.title %></em>
      </p>
      <div class="row">
        <div class="col-xs-12">
          <p>
            Theater number <%= @order.theater.number %> at
            <strong><%= format_showtime(@order.showtime) %></strong>
            <span class="pull-right"><%= number_to_currency(ticket_price(@order.showtime)) %> each</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-xs-12 text-right">
      <p>Subtotal: <%= number_to_currency(order_subtotal(@order.showtime, @order.tickets)) %></p>
      <p>Tax: <%= number_to_currency(order_tax(@order.showtime, @order.tickets)) %></p>
      <p><strong>Total: <%= number_to_currency(order_total(@order.showtime, @order.tickets)) %></strong></p>
    </div>
  </div>
</div>
