<div class="container">
  <div class="row">
    <table class="table table-hover">
      <th>Number of Tickets</th>
      <th>Movie</th>
      <th>Showtime</th>
      <th>Theater Number</th>
      <th>Total (with tax)</th>
      <% @movie.showtimes.each do |showtime| %>
        <% if showtime.orders.length > 0 %>
          <% showtime.orders.each do |order| %>
            <tr>
              <td><%= order.tickets %></td>
              <td><%= order.movie.title %></td>
              <td><%= to_strftime(order.showtime) %></td>
              <td><%= order.theater.number %></td>
              <td><%= number_to_currency(order_total(order.showtime, order.tickets)) %></td>
            </tr>
          <% end %>
        <% else %>
          <div class="no-orders-message text-center">
            <h4>No orders yet for this film</h4>
          </div>
          <% break %>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
