<div class="container">
  <div class="row text-center orders-table-type-header">
    <h3>Orders for <%= @movie.title %></h3>
  </div>
    <div class="row">
      <table class="table table-hover orders-table">
        <tr>
          <th>Showtime</th>
          <th>Theater Number</th>
          <th>Number of Tickets</th>
          <th>Total (with tax)</th>
        </tr>
        <% @movie.showtimes.each do |showtime| %>
          <% showtime.orders.each do |order| %>
            <tr>
              <td data-th="Showtime">
                <%= link_to order_path(order), class: "order-table-link" do %>
                  <%= format_showtime(order.showtime) %>
                <% end %>
              </td>
              <td data-th="Theater Number">
                <%= link_to order_path(order), class: "order-table-link" do %>
                  <%= order.theater.number %>
                <% end %>
              </td>
              <td data-th="Number of Tickets">
                <%= link_to order_path(order), class: "order-table-link" do %>
                  <%= order.tickets %>
                <% end %>
              </td>
              <td data-th="Total (with tax)">
                <%= link_to order_path(order), class: "order-table-link" do %>
                  <%= number_to_currency(order_total(order.showtime, order.tickets)) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row text-center">
    <p><%= link_to "<< Back to All Orders", orders_path, class: "nav-links" %></p>
  </div>
</div>
