<div class="container">
  <%= render 'verify_age_popup', movie: @movie, showtime_id: params[:id] %>

  <div class="row">
    <div class="col-md-3 col-xs-12 movie-thumbnail-image-show">
      <%= image_tag @movie.image, class: "img-responsive" %>
    </div>
    <div class="col-md-8 showtime-summary">
      <h3>
        <%= format_showtime(@showtime) %> showing for <%= @movie.title %> (<%= @movie.rating %>)
      </h3>
      <p>
        Director: <%= @movie.director %> | Genre: <%= @movie.genre %> | Runtime: <%= @movie.runtime %> min
      </p>
      <p>
        <%= @movie.synopsis %>
      </p>

      <hr />

      <% if age_check_passes?(@movie, params[:id]) %>
        <h4 class="reserve-tickets-header">
          Reserve your tickets for <%= @movie.title %>
          <small>(<%= @showtime.seats_remaining %> seats left)</small>
        </h4>
        <%= render 'orders/new_form', order: Order.new, movie: @movie, showtime: @showtime %>
      <% else %>
        <div class="not-old-enough-message">
          <h4>Sorry, you're not old enough to see this movie!</h4>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row text-center">
    <p><%= link_to "<< Back to Movies", movies_path, class: "nav-links" %></p>
  </div>
</div>
