<div class="container">
  <% if verify_age(@movie, params[:id]) %>
    <div id="verifyAge" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">This movie is rated <%= @movie.rating %></h4>
          </div>
          <div class="modal-body">
            <%= form_for(movie_showtime_path(@movie.id, params[:id]), method: :get) do |f| %>
              <div class="form-group row">
                <div class="col-xs-12">
                  <%= f.label :age, "Please select your birthday", class: "control-label" %>
                </div>

                <div class="col-xs-4">
                  <%= f.select :age_month,
                               ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
                               { prompt: "Select month..." }, class: "form-control" %>
                </div>

                 <div class="col-xs-4">
                  <%= f.select :age_day, [], { prompt: "Select day..." }, { class: "form-control" } do %>
                    <% 31.times do |n| %>
                      <%= content_tag(:option, n + 1) %>
                    <% end %>
                  <% end %>
                </div>

                <div class="col-xs-4">
                  <%= f.select :age_year, [], { prompt: "Select year..." }, { class: "form-control" } do %>
                    <% 100.times do |n| %>
                      <%= content_tag(:option, (Time.now.year) - n) %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="form-group">
                <%= f.submit "Verify Age", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-3 movie-thumbnail-image-show">
      <%= image_tag @movie.image %>
    </div>
    <div class="col-md-8">
      <h3>
        <%= to_strftime(@showtime) %> showing for <%= @movie.title %> (<%= @movie.rating %>)
      </h3>
      <p>
        Director: <%= @movie.director %> | Genre: <%= @movie.genre %> | Runtime: <%= @movie.runtime %> min
      </p>
      <p><%= @movie.synopsis %></p>

      <hr />

      <% if age_check_passes?(@movie, params[:id]) %>
        <h4>Reserve your tickets for <%= @movie.title %>:</h4>
        <%= render 'orders/new_form', order: Order.new, movie: @movie, showtime: @showtime %>
      <% else %>
        <h4>Sorry, you're not old enough to see this movie!</h4>
      <% end %>
    </div>
  </div>

</div>
