<!DOCTYPE html>
<html>
  <head>
    <title>LakeStreetCinema</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lora|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% unless flash.empty? %>
      <div class="flash-container">
        <%= render 'shared/flash_messages' %>
      </div>
    <% end %>

    <div class="body-panel">
      <div class="row">
        <div class="col-xs-12 text-center header-logo">
          <h1><%= link_to "Lake Street Cinema", root_url %></h1>

          <nav>
            <ul class="nav-links">
              <li>About us</li>
              <li>Contact us</li>
              <li><%= link_to "Orders", orders_path %></li>
            </ul>
          </nav>

          <hr />

        </div>
      </div>

      <%= yield %>

    </div>
    <footer>
      <div class="col-xs-12 text-center">
        <p>Lake Street Cinemas</p>
      </div>
    </footer>
  </body>
</html>
